<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.7.0/styles.min.css" />
  </head>
  <body>
    
    <script>
      window.apiKey = "<%= apiKey %>";
      window.shopOrigin = "<%= shop %>";
      // const shopifyAppConfig = {
      //   apiKey: window.apiKey,
      //   shopOrigin: window.shopOrigin,
      //   forceRedirect: false,
      // };
      // ShopifyApp.init(shopifyAppConfig);
    </script>

    <div id="app"></div>
    <script src="bundle.js"></script>
  </body>
</html>
